
.event-toggle-container {
    text-align: center;
    margin: 20px 0;
  }
  

  .toggle-switch {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #333;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
  }
  

  .toggle-slider {
    width: 60px;
    height: 34px;
    background-color: #C42ECC;
    border-radius: 17px;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  
  .toggle-slider.technical {
    transform: translateX(0);
  }
  
  .toggle-slider.non-technical {
    transform: translateX(54px);
    background-color: #32cd32; 
  }
  
  .events-container {
    margin-top: 20px;
  }