*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
@font-face {
  font-family: 'Cyber Alert';
  src: url('./assets/fonts/Cyber\ Alert.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  height: 100%;

  
}

.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  margin: 0 auto;
  perspective: 360px;
  perspective-origin: 50% 50%;
  z-index: -1;
  background: linear-gradient(#000 25%, #4B0082 50%, #4B0082 50%, #000 100%);
}

.top-plane, .bottom-plane {
  width: 200%;
  height: 130%;
  position: fixed;
  z-index: -1;
  bottom: -30%;
  left: -50%;
  background-image: -webkit-linear-gradient(#4B0082 2px, transparent 2px), -webkit-linear-gradient(left, #4B0082 2px, transparent 2px);
  background-size: 100px 100px,100px 100px;
  background-position: -1px -1px,-1px -1px;
  transform: rotateX(85deg);
  animation: planeMoveTop 2s infinite linear;
}

.bottom-plane {
  transform: rotateX(-85deg);
  top: -30%;
  animation: planeMoveBot 2s infinite linear;
}


/* Main animation */

.animated-element{
    animation: text-shadow 1.5s ease-in-out infinite;
    font-weight: 900;
    line-height: 1;
}
.animated-element:hover {
  animation-play-state: none;
}
@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #fff, 
          0 0 0 #DB7093, 
          0 0 0 #FF10F0, 
          0 0 0 #9C27B0;
  }

  20% {  
      transform: translateY(-1em);
      text-shadow: 
          0 0.125em 0 #fff, 
          0 0.25em 0 #DB7093, 
          0 -0.125em 0 #FF10F0, 
          0 -0.25em 0 #9C27B0;
  }

  40% {  
      transform: translateY(0.5em);
      text-shadow: 
          0 -0.0625em 0 #fff, 
          0 -0.125em 0 #DB7093, 
          0 0.0625em 0 #FF10F0, 
          0 0.125em 0 #9C27B0;
  }
  
 60% {
      transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #fff, 
          0 0.0625em 0 #DB7093, 
          0 -0.03125em 0 #FF10F0, 
          0 -0.0625em 0 #9C27B0;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #fff, 
          0 0 0 #DB7093, 
          0 0 0 #FF10F0, 
          0 0 0 #9C27B0;
  }
}


@keyframes planeMoveTop {
  from {
    background-position: 0px -100px,0px 0px;
  }
  to {
    background-position: 0px 0px, 100px 0px;
  }
}
@keyframes planeMoveBot {
  from {
    background-position: 0px 0px,0px 0px;
  }
  to {
    background-position: 0px -100px, 100px 0px;
  }
}
@media (max-height: 350px) {
  .wrap {
    perspective: 210px;
  }
}
/* @media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
  .nav > a {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
} */
@media screen and (min-width: 998px) {
  .animated-element{
    font-size: 100px !important;
  }
  #nav-toggle{
    display: none;
  }
}