*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cyber Alert';
  src: url('../public/fonts/cyber_alert-webfont.woff2') format('woff2');
  src: url('../public/fonts/cyber_alert-webfont.woff') format('woff');
  
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
