*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cyber Alert';
  src: url('Codefest2k25\public\fonts\Cyber Alert.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
